[run]
source =
       incremental
branch = True

[paths]
source =
   src/
   .tox/*/lib/python*/site-packages/
   .tox/pypy*/site-packages/

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
