include .coveragerc
include LICENSE
include NEWS.rst
include towncrier.ini
include tox.ini
include src/incremental

recursive-include src/incremental *.py

exclude .travis
recursive-exclude .travis *

exclude tests
recursive-exclude tests *
exclude examplesetup.py
exclude src/exampleproj
recursive-exclude src/exampleproj *.py

exclude src/incremental/newsfragments
recursive-exclude src *.bugfix
recursive-exclude src *.feature
recursive-exclude src *.misc
recursive-exclude src *.removal
